<div class="col-md-4 col-md-offset-4">
    <h2>编辑文章内容</h2>

    <hr>
    <%= form_for [:account, @post] do |f| %>
    <div class="form-group">
        <div class="form-group string optional">
            <%= f.label "Content", :class => "string optional control-label" %>
            <%= f.text_area :content, :class => "string optional form-control" %>
        </div>

    </div>
    <%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submiting..." } %>
    <% end %>


</div>
